[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pyinstaller = "*"
cython = "*"

[packages]
loguru = "*"
python-dotenv = "*"
requests = "*"
pypng = "*"
pillow = "*"
qrcode = "*"
ntplib = "*"

[requires]
python_version = "3.7"
